CONFIG_ARM=y
CONFIG_SKIP_LOWLEVEL_INIT=y
CONFIG_POSITION_INDEPENDENT=y
CONFIG_SYS_INIT_SP_BSS_OFFSET=1572864
CONFIG_ARCH_SNAPDRAGON=y
CONFIG_NR_DRAM_BANKS=24
CONFIG_DEFAULT_DEVICE_TREE="anorak/anorak"
CONFIG_SYS_LOAD_ADDR=0xA0000000
CONFIG_BUTTON_CMD=n
CONFIG_FIT=n
CONFIG_FIT_VERBOSE=n
CONFIG_BOOTSTD=n
CONFIG_BOOTSTD_FULL=n
CONFIG_LEGACY_IMAGE_FORMAT=n
CONFIG_SYS_BOOT_RAMDISK_HIGH=n
CONFIG_BOOTDELAY=1
CONFIG_OF_BOARD_SETUP=y
CONFIG_USE_PREBOOT=y
CONFIG_SAVE_PREV_BL_INITRAMFS_START_ADDR=y
CONFIG_SYS_CBSIZE=512
CONFIG_LOG_MAX_LEVEL=9
# 7 for verbose
CONFIG_LOG_DEFAULT_LEVEL=6
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_HUSH_MODERN_PARSER=y
CONFIG_CMD_BOOTMENU=n
CONFIG_CMD_NVEDIT_EFI=n
CONFIG_CMD_EEPROM=n
CONFIG_SYS_I2C_EEPROM_BUS=2
CONFIG_SYS_I2C_EEPROM_ADDR_LEN=2
CONFIG_SYS_EEPROM_PAGE_WRITE_BITS=5
CONFIG_CMD_CLK=y
CONFIG_CLK_QCOM_DEBUG=y
CONFIG_CMD_DFU=n
CONFIG_CMD_GPIO=y
CONFIG_CMD_GPT=y
CONFIG_CMD_GPT_RENAME=y
CONFIG_CMD_I2C=y
CONFIG_CMD_LOADM=y
CONFIG_CMD_MMC=y
CONFIG_CMD_UFS=y
CONFIG_CMD_USB=y
CONFIG_CMD_USB_MASS_STORAGE=y
CONFIG_CMD_UMS_ABORT_KEYED=y
CONFIG_CMD_CAT=y
CONFIG_BOOTP_MAY_FAIL=y
CONFIG_CMD_BMP=y
CONFIG_CMD_EFIDEBUG=n
CONFIG_CMD_RNG=y
CONFIG_CMD_REGULATOR=y
CONFIG_CMD_EXT4_WRITE=n
CONFIG_CMD_LOG=y
CONFIG_PARTITION_TYPE_GUID=y
CONFIG_OF_LIVE=y
CONFIG_OF_UPSTREAM=n
CONFIG_OF_UPSTREAM_BUILD_VENDOR=n
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="board/qualcomm/edl-sxr2250.env"
CONFIG_PROT_TCP_SACK=y
CONFIG_BUTTON_REMAP_PHONE_KEYS=y
CONFIG_BUTTON_QCOM_PMIC=y
CONFIG_CLK=y
CONFIG_CLK_QCOM_APQ8016=n
CONFIG_CLK_QCOM_APQ8096=n
CONFIG_CLK_QCOM_QCM2290=n
CONFIG_CLK_QCOM_QCS404=n
CONFIG_CLK_QCOM_SA8775P=n
CONFIG_CLK_QCOM_SDM845=y
CONFIG_CLK_QCOM_SM6115=n
CONFIG_CLK_QCOM_SM8150=n
CONFIG_CLK_QCOM_SM8250=n
CONFIG_CLK_QCOM_SM8550=n
CONFIG_CLK_QCOM_SM8650=n
CONFIG_CLK_QCOM_SC7280=n
CONFIG_CLK_QCOM_X1E80100=n
CONFIG_CLK_QCOM_SXR2250=y
CONFIG_CLK_STUB=y
CONFIG_DFU_MMC=y
CONFIG_DFU_SCSI=y
CONFIG_SYS_DFU_DATA_BUF_SIZE=0x200000
CONFIG_MSM_GPIO=y
CONFIG_QCOM_PMIC_GPIO=y
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_QUP=y
CONFIG_SYS_I2C_GENI=y
CONFIG_I2C_MUX=y
CONFIG_DM_KEYBOARD=n
CONFIG_BUTTON_KEYBOARD=n
CONFIG_IOMMU=y
CONFIG_QCOM_HYP_SMMU=y
CONFIG_MISC=y
CONFIG_NVMEM=y
CONFIG_I2C_EEPROM=y
CONFIG_MMC_HS200_SUPPORT=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_ADMA=y
CONFIG_MMC_SDHCI_MSM=y
CONFIG_PHY_MICREL=y
CONFIG_PHY_MICREL_KSZ90X1=y
CONFIG_DM_MDIO=y
CONFIG_DM_ETH_PHY=y
CONFIG_DWC_ETH_QOS=y
CONFIG_DWC_ETH_QOS_QCOM=y
CONFIG_RGMII=y
CONFIG_PHY=y
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=y
CONFIG_PHY_QCOM_SNPS_EUSB2=y
CONFIG_PINCTRL=y
CONFIG_PINCONF=y
CONFIG_PINCTRL_QCOM_APQ8016=y
CONFIG_PINCTRL_QCOM_APQ8096=y
CONFIG_PINCTRL_QCOM_QCM2290=y
CONFIG_PINCTRL_QCOM_QCS404=y
CONFIG_PINCTRL_QCOM_SDM845=y
CONFIG_PINCTRL_QCOM_SM6115=y
CONFIG_PINCTRL_QCOM_SM8150=n
CONFIG_PINCTRL_QCOM_SM8250=y
CONFIG_PINCTRL_QCOM_SM8550=y
CONFIG_PINCTRL_QCOM_SM8650=y
CONFIG_PINCTRL_QCOM_X1E80100=y
CONFIG_PINCTRL_QCOM_SXR2250=y
CONFIG_DM_PMIC=y
CONFIG_PMIC_QCOM=y
CONFIG_DM_REGULATOR=y
CONFIG_DM_REGULATOR_FIXED=y
CONFIG_DM_REGULATOR_GPIO=y
CONFIG_DM_REGULATOR_QCOM_RPMH=y
CONFIG_DM_RNG=y
CONFIG_RNG_MSM=y
CONFIG_DM_RTC=y
CONFIG_RTC_EMULATION=y
CONFIG_SCSI=y
CONFIG_MSM_SERIAL=y
CONFIG_MSM_GENI_SERIAL=y
CONFIG_SOC_QCOM=y
CONFIG_QCOM_COMMAND_DB=y
CONFIG_QCOM_RPMH=y
CONFIG_QCOM_SMEM=y
CONFIG_SPMI_MSM=y
CONFIG_SYSINFO=y
CONFIG_SYSINFO_SMBIOS=y
CONFIG_USB=y
CONFIG_DM_USB_GADGET=y
CONFIG_USB_XHCI_HCD=n
CONFIG_USB_XHCI_DWC3=n
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_GENERIC=y
CONFIG_USB_HOST=n
CONFIG_USB_HOST_ETHER=n
CONFIG_USB_ETHER_ASIX88179=n
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_USB_GADGET_VENDOR_NUM=0x17CB
CONFIG_USB_GADGET_PRODUCT_NUM=0xd00d
CONFIG_USB_FUNCTION_ACM=y
CONFIG_UFS=y
CONFIG_QCOM_UFS=y
CONFIG_VIDEO=n
CONFIG_VIDEO_FONT_16X32=n
CONFIG_SYS_WHITE_ON_BLACK=n
CONFIG_NO_FB_CLEAR=n
CONFIG_VIDEO_SIMPLE=n
CONFIG_HEXDUMP=y
CONFIG_EFI_RT_VOLATILE_STORE=n
CONFIG_EFI_SET_TIME=n
CONFIG_EFI_RUNTIME_UPDATE_CAPSULE=n
CONFIG_EFI_CAPSULE_ON_DISK=n
CONFIG_EFI_IGNORE_OSINDICATIONS=n
CONFIG_EFI_CAPSULE_FIRMWARE_RAW=n
CONFIG_SYMBOL_LOOKUP=y
CONFIG_EFI_HTTP_BOOT=n
CONFIG_EFI_HAVE_CAPSULE_SUPPORT=n

CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_FASTBOOT_BUF_ADDR=0xC0000000
CONFIG_FASTBOOT_BUF_SIZE=0x10000000

CONFIG_TOOLS_KWBIMAGE=n
CONFIG_TOOLS_LIBCRYPTO=n
CONFIG_EFI_LOADER=n
CONFIG_EFI_BINARY_EXEC=n
CONFIG_ANDROID_BOOT_IMAGE=n
CONFIG_USB_STORAGE=n
CONFIG_FS_EXT4=n
CONFIG_EXT4_WRITE=n
CONFIG_FS_FAT=n
CONFIG_SYSRESET_PSCI=n
CONFIG_NO_NET=y
CONFIG_CMD_EXT2=n
CONFIG_CMD_ELF=n
CONFIG_CMD_BOOTD=n
CONFIG_CMD_BOOTM=n
CONFIG_CMD_BOOTI=n
CONFIG_CMD_FDT=n
CONFIG_CMD_GO=n
CONFIG_CMD_RUN=n
CONFIG_CMD_IMI=n
CONFIG_CMD_XIMG=n
CONFIG_ARM_PSCI_FW=n
CONFIG_PSCI_RESET=n

CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_BASE=0x998000
CONFIG_DEBUG_UART_MSM_GENI=y
CONFIG_DEBUG_UART_CLOCK=7372800
CONFIG_SERIAL_SEARCH_ALL=y
CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_REQUIRE_SERIAL_CONSOLE=y
CONFIG_OF_EMBED=y
CONFIG_OF_SEPARATE=n
CONFIG_SYS_STDIO_DEREGISTER=n # TODO why?
